a:link#maillink {
    color: #000000;
}

img#slider {
    max-width: 70%;
    max-height: auto;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}
#carouselExampleIndicators{
    margin: 20px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
}