body{
    background-color: white;
}
/* Header & Footer */
div.header{
    background-color: ghostwhite;
}
div.footer,div.copyright{
    background-color: whitesmoke;
}

/* index */

a:link#maillink {
    color: #000000;
}

img#slider {
    max-width: 70%;
    max-height: auto;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

div#carouselExampleIndicators {
    margin: 20px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
}

img#product {
    padding: 15px 0px 0px 0px;
    max-width: 200px;
    max-height: auto;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

div#introducing {
    margin: 30px auto 30px auto;
}

div#card {
    margin: 10px 10px 10px 10px;
}

div#contact {
    margin: 50px auto 20px auto;
}

section#contact-form {
    margin: 30px auto 20px auto;
}

/* location */

div#img-location {
    margin: auto auto auto auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

div#card-body {
    margin-top: 30px;
}

div#image-depiction {
    margin: auto auto auto 30px;
}

/* Clinical & Diagnostics */

#title-cnd {
    margin-left: 30px;
}

div#col-img {
    margin: auto auto auto auto;
}

div#img-cnd {
    margin-top: 20px;
    margin-left: 30px;
}

/* BME Institute */

img#img-bme-card-top {
    max-width: auto;
    max-height: auto;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

/* R/D Centers*/

p#rnd-title {
    margin-left: 30px;
}

div#rnd-image {
    margin: auto auto auto 30px;
}

div#rnd-list {
    margin-left: auto;
}

/* Contact */

div#contact-col {
    margin: 15px auto 15px auto;
}