a:link#maillink {
    color: #000000;
}

img#slider {
    max-width: 70%;
    max-height: auto;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

div#carouselExampleIndicators {
    margin: 20px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
}

img#product {
    padding: 15px 0px 0px 0px;
    max-width: 200px;
    max-height: auto;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

div#introducing {
    margin: 30px auto 30px auto;
}

div#card {
    margin: 10px 10px 10px 10px;
}

div#contact {
    margin: 50px auto 20px auto;
}

#img-location {
    margin: auto 30px auto 30px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#img-cnd {
    margin: 20px auto 20px auto;
}

section#contact-form {
    margin: 30px auto 20px auto;
}